<div class="container">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
    <br>
    <%= f.text_field :address, class: 'form-control', placeholder: 'Address(0x...)' %>
    <br>
    <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'Email Address' %>
    <br>
    
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Password Confirmation' %>
    <br>
    
    <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block'%>
    <br>
  <% end %>
  <%= render "devise/shared/links" %>
</div>


