<div class="container kitty-container">
	<% if user_signed_in? %>
		<input type="hidden" id="user-address" data-current-user-address="<%= current_user.address %>">
	<% end %>
	<br>
	<center><h1>"Only a Mother" Contestants</h1></center>
	<br>
	<hr>
	<% @kitties.each_slice(3) do |kitties| %>
		<div class="row">
			<% kitties.each do |kitty| %>
				<div class="kitty col">
					<div class="single-kitty-container">
						<center><img src="https://img.cryptokitties.co/0x06012c8cf97bead5deae237070f9587f8e7a266d/<%= kitty.kitty_id %>.svg"></center>
						<span>Kitty Name: <strong><a target="_blank" href="https://www.cryptokitties.co/kitty/<%= kitty.kitty_id %>" style="text-decoration: none;"><%= kitty.kitty_name %></a></strong></span>
						<br>
						<span>Player: <strong><a target="_blank" href="https://www.cryptokitties.co/profile/<%= kitty.address %>" style="text-decoration: none;"><%= kitty.player_name %></strong></a></span>
						<% if user_signed_in? %>
							<% if kitty.votes.nil? || kitty.votes.exclude?(current_user.address) %>
								<% if kitty.votes.nil? %>
									<center><button id="kitty-vote" data-kitty-id="<%= kitty.kitty_id %>" class="btn btn-small btn-info">Vote for Kitty - No Votes Yet</button></center>
								<% else %>
									<center><button id="kitty-vote" data-kitty-id="<%= kitty.kitty_id %>" class="btn btn-small btn-info">Vote for Kitty - <%= kitty.votes.count %> <% if kitty.votes.count == 1 %>Vote<% else %> Votes <% end %></button></center>
								<% end %>
							<% else %>
								<center><button id="kitty-vote" disabled="disabled" class="btn btn-small btn-info"><%= kitty.votes.count %> <% if kitty.votes.count == 1 %>Vote<% else %> Votes <% end %></button></center>
							<% end %>
						<% else %>
							<% if kitty.votes.nil? %>
								<center><button id="kitty-vote" disabled="disabled" class="btn btn-small btn-info">No Votes yet</button></center>
							<% else %>
								<center><button id="kitty-vote" disabled="disabled" class="btn btn-small btn-info"><%= kitty.votes.count %> <% if kitty.votes.count == 1 %>Vote<% else %> Votes <% end %></button></center>
							<% end %>
							
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>

