<div class="container" >
	<a href="https://www.cryptokitties.co/kitty/<%= @kitty.kitty_id %>" target="_blank" class="kitty-display-link">
	<div class="d-flex justify-content-center"><img style="width:28.5vmax;" src="https://img.cryptokitties.co/0x06012c8cf97bead5deae237070f9587f8e7a266d/<%= @kitty.kitty_id%>.svg"></div>
	</a>
	<a href="https://www.cryptokitties.co/kitty/<%= @kitty.kitty_id %>" target="_blank" class="kitty-display-link">
	<div class="d-flex justify-content-center"><h1><%= @kitty.kitty_name %></h1></div></a>
	<br>
	<% if @kitty.q_a['6'] %>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-light" data-toggle="modal" data-target="#imgModal">
			  <%= @kitty.kitty_name %>'s Attachment
			</button>
		</div>


		


	<% end %>
	<hr>
	<% @kitty.q_a.each do |key, value| %>

		<% if key.to_i === 6 %>
			<div id="imgModal" class="modal fade" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      </div>
				      <div class="modal-body d-flex justify-content-center">
				      	<%= image_tag(value['img']) %>
				      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>


		<% elsif key.to_i === 4 %>

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color:#4a4a4a !important;">
			    <li class="breadcrumb-item active" aria-current="page" style="color:white !important;"><%= @questions[key.to_i].question %></li>
			  </ol>
			</nav>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page"><strong>Question: </strong><%= value['q'] %></li>
			  </ol>
			</nav>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color:white !important;">
			    <li class="breadcrumb-item active" aria-current="page"><strong>Answer: </strong><%= value['a'] %></li>
			  </ol>
			</nav>
			<hr>
		<% elsif key.to_i === 5 %>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page"><strong><%= @questions[key.to_i].question %></strong></li>
			  </ol>
			</nav>

			<% if value['link'] && !value['info'] %>
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:white !important;">
				    <li class="breadcrumb-item active" aria-current="page"><a target="_blank" href="<%= value['link'] %>"><%= value['link'].html_safe %></a></li>
				  </ol>
				</nav>
			<% elsif value['info'] && value['link'] %>
				<nav aria-label="breadcrumb">
					  <ol class="breadcrumb" style="background-color:white !important;">
					    <li class="breadcrumb-item active" aria-current="page"><%= value['info'] %></li>
					  </ol>
					</nav>
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:white !important;">
				    <li class="breadcrumb-item active" aria-current="page"><a target="_blank" href="<%= value['link'] %>"><%= value['link'].html_safe %></a></li>
				  </ol>
				</nav>
				
			<% else %>
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:white !important;">
				    <li class="breadcrumb-item active" aria-current="page"><strong>Answer: </strong><%= value.html_safe %></li>
				  </ol>
				</nav>
			<% end%>
		<hr>
		<% else %>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page"><strong>Question: </strong><%= @questions[key.to_i].question %></li>
			  </ol>
			</nav>
			<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:white !important;">
				    <li class="breadcrumb-item active" aria-current="page"><strong>Answer: </strong><%= value.html_safe %></li>
				  </ol>
				</nav>
			<hr>
		<% end %>
	<% end %>
</div>