<div class="container" >
	<a href="https://www.cryptokitties.co/kitty/<%= @kitty.kitty_id %>" target="_blank" class="kitty-display-link">
	<div class="d-flex justify-content-center"><img style="width:28.5vmax;" src="https://img.cryptokitties.co/0x06012c8cf97bead5deae237070f9587f8e7a266d/<%= @kitty.kitty_id%>.svg"></div>
	</a>
	<a href="https://www.cryptokitties.co/kitty/<%= @kitty.kitty_id %>" target="_blank" class="kitty-display-link">
	<div class="d-flex justify-content-center"><h1><%= @kitty.kitty_name %></h1></div></a>
	<br>
	<hr>
	<% @kitty.q_a.each do |key, value| %>
		<% if key.to_i === 4 %>

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color:#4a4a4a !important;">
			    <li class="breadcrumb-item active" aria-current="page" style="color:white !important;"><%= @questions[key.to_i].question %></li>
			  </ol>
			</nav>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page"><strong>Question: </strong><%= value['q'] %></li>
			  </ol>
			</nav>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color:white !important;">
			    <li class="breadcrumb-item active" aria-current="page"><strong>Answer: </strong><%= value['a'] %></li>
			  </ol>
			</nav>
			<hr>
		<% else %>
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page"><strong>Question: </strong><%= @questions[key.to_i].question %></li>
		  </ol>
		</nav>
			<% if key.to_i === 5 && value['link'] %>
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:white !important;">
				    <li class="breadcrumb-item active" aria-current="page"><a target="_blank" href="<%= value['link'] %>"><%= value['link'] %></a></li>
				  </ol>
				</nav>
			<% elsif key.to_i === 5 && value['info'] && value['link'] %>
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:white !important;">
				    <li class="breadcrumb-item active" aria-current="page"><a target="_blank" href="<%= value['link'] %>"><%= value['link'] %></a></li>
				  </ol>
				</nav>
				<nav aria-label="breadcrumb">
					  <ol class="breadcrumb" style="background-color:white !important;">
					    <li class="breadcrumb-item active" aria-current="page"><strong>Answer: </strong><%= value['info'] %></li>
					  </ol>
					</nav>
			<% else %>
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:white !important;">
				    <li class="breadcrumb-item active" aria-current="page"><strong>Answer: </strong><%= value %></li>
				  </ol>
				</nav>
			<% end%>
		<hr>
		<% end %>
	<% end %>
</div>