<!DOCTYPE html>
<html>
  <head>
    <title>KittyContests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/only-a-mother">Kitty Contests</a>
    </nav>
    <%= yield %>
  </body>
</html>

<style type="text/css">
  html, body {
    background: lightcyan;
  }

  .navbar {
     -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }
  .kitty {
    display:inline-block;
    margin-bottom: 15px;
    border-bottom: solid black 1px;
    margin-left: 2vw;
  }

  .kitty img {
    width: 12vw;
    margin-left: inherit;
  }
</style>