<!DOCTYPE html>
<html>
  <head>
    <title>KittyContests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/only-a-mother">Kitty Contests</a>

      <ul class="navbar-nav mr-auto">
        <% if !user_signed_in? %>
          <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, :class => 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, :class => 'nav-link'%>
          </li>
        <% else %>
          <li class="nav-item">
              <%= link_to (current_user.name.length > 0 ? current_user.name : current_user.email), edit_user_registration_path(current_user.id), :class => 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'nav-link' %>
          </li>
        <% end%>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>

<style type="text/css">
  html, body {
    background: #bfd0d0;
  }

  .modal-body img {
    width: 30vmax;
  }

  .navbar {
     -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }
  .kitty {
    display:inline-block;
  }

  .kitty div img {
    width: 14.5vmax;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.15));
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.15));
  }

  .kitty div span {
    font-size: 1.05vmax;
    text-align: center;
  }

  .kitty-display-link {
    text-decoration: none;
    color: black;
  }

  .kitty-display-link:hover {
    color: blue;
    text-decoration: none;
  }

  .single-kitty-container {
    text-align: center;
    border-bottom: solid #ccc9c9 .5px !important;
    min-height: 250px;
    padding-bottom: 20px;
  }

  .kitty-container {
    background: #f7ffff;
    -webkit-box-shadow: inset 10px 10px 58px -30px rgba(0,0,0,0.28);
    -moz-box-shadow: inset 10px 10px 58px -30px rgba(0,0,0,0.28);
    box-shadow: inset 10px 10px 58px -30px rgba(0,0,0,0.2);
  }
</style>